.projects-page {
  margin-top: 4rem;
  font-family: sans-serif;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;

    .page-title {
      color: #333;
    }

    .page-subtitle {
      color: #333;
    }

  }

}